libwebgpu/_build
.dart_tool
.idea
.DS_Store
pubspec.lock
__pycache__
libwebgpu/dawn
lib/_native/mac-arm64-Debug
lib/_native/mac-arm64-RelWithDebInfo
lib/_native/win-x64-Debug
lib/_native/win-x64-RelWithDebInfo
libwebgpu/lib/win-x64-RelWithDebInfo/webgpu.dll
libwebgpu/lib/win-x64-Debug/webgpu.dll
libwebgpu/lib/mac-arm64-RelWithDebInfo
libwebgpu/lib/mac-arm64-Debug
